@import './root.css';

.games_list_container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.table_container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
    background-color: var(--gray4);
    color: white;
    text-align: left;
    font-weight: bold;
}

th, td {
    padding: 12px 15px;
}

tbody tr {
    border-bottom: 1px solid var(--gray2);
}

tbody tr:nth-of-type(even) {
    background-color: var(--gray1);
}

tbody tr:last-of-type {
    border-bottom: 2px solid var(--gray4);
}

tbody tr:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}


.input_group {
    /* width: 50%;
    height: 60%; */
    display: flex;
}

.input_group input {
    height: 32px;
    width: 200px;
    border: 1px solid var(--gray1);
    padding-left: 10px;
    border-radius: 5px 0px 0px 5px;
    outline: none;
}

.input_group button {
    display: flex;
    align-items: center;
    height: 36px;
    width: 36px;
    background-color: var(--gray4);
    color: white;
    border: none;
    border-radius: 0px 5px 5px 0px;
}